.shopper-msp4-cursor {
  pointer-events: none;
  width: 19px;
  height: 31px;
  position: fixed;
  opacity: .8;
  left: 0;
  top: 0;
  -webkit-transform: translate(-100px, -100px) translateZ(0);
  z-index: 99999999
}

.shopper-msp4-cursor:before {
  content: '.';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(chrome-extension://__MSG_@@extension_id__/images/cursor.png);
  -webkit-transition: -webkit-transform linear .1s;
  -webkit-transform: rotateX(0deg)
}

.shopper-msp4-cursor:after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255, 0, 0, .5);
  border-radius: 100%;
  -webkit-transition: -webkit-transform linear .1s;
  -webkit-transform: scale(0)
}

.shopper-msp4-cursor.down:after {
  -webkit-transform: scale(2);
  -webkit-transition: none
}

.shopper-msp4-cursor.down:before {
  -webkit-transform: rotateX(30deg)
}