<!DOCTYPE html>
<html data-ng-csp="">
<head>
  <meta charset="utf-8">
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <link href="styles/main.css" rel="stylesheet">
  <!-- endbuild -->
</head>
<body class="ng-cloak">
<div class="panel panel-default">
  <div class="panel-heading" ng-controller="UsersController as ctrl">
    <span>Тайный покупатель</span>
    <span class="pull-right sign" ng-if="!ctrl.user">
      <a class="btn" ng-click="ctrl.signup()" role="button">Регистрация</a>
      <a class="btn" ng-click="ctrl.signin()" role="button">Войти</a>
    </span>
    <span class="pull-right" ng-if="ctrl.user">
      {{ ctrl.user.displayName }}
    </span>
  </div>
  <div class="panel-body">
      <div ng-controller="VacancyListCtrl as ctrl">
        <small>{{ctrl.filter.coordinates}}</small>
        <ul ng-click="ctrl.openWebsite()">
          <li ng-repeat="vacancy in ctrl.vacancies">
            <a href="#">{{ vacancy.research.name }} ({{vacancy.location.name}})</a>
          </li>
        </ul>
      </div>
      <div ng-controller="CaptureController as ctrl">
        <button class="btn btn-success btn-sm" ng-click="ctrl.start()">Start</button>
        <button class="btn btn-primary btn-sm" ng-click="ctrl.stop()">Stop</button>
      </div>
  </div>
</div>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angularjs-geolocation/src/geolocation.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/popup.js -->
<script src="scripts/popup/config.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/popup/users/users.module.js"></script>
<script src="scripts/popup/users/services/authentication.service.js"></script>
<script src="scripts/popup/users/controllers/users.controller.js"></script>
<script src="scripts/popup/vacancies/vacancies.module.js"></script>
<script src="scripts/popup/vacancies/services/vacancies.service.js"></script>
<script src="scripts/popup/vacancies/controllers/vacancies.controller.js"></script>
<script src="scripts/popup/capture/capture.module.js"></script>
<script src="scripts/popup/capture/controllers/capture.controller.js"></script>
<!-- endbuild -->
</body>
</html>